<p-button icon="pi pi-bars" [rounded]="true" [text]="true"  (click)="onToggleSideNavigation()"></p-button>
<!--<div *ngIf="userProfile$ | async as userProfile" class="profile-info">-->
<!--  <trxmon-avatar [userProfile]="userProfile"></trxmon-avatar>-->
<!--  <span class="p-ml-2 profile-info-name">-->
<!--        {{userProfile.firstName}} {{userProfile.lastName}} ({{userProfile.id}})-->
<!--      </span>-->
<!--</div>-->

<!--<a class="help p-text-light" [href]="'layout.header.url' | translate">-->
<!--  <i class="fas fa-question-circle"></i>-->
<!--</a>-->

